header.header 
    .container 
        .row.align-item-center 
            .col-3 
                .inner-logo 
                    a(href="/")
                        img(src="/image/logo.svg", alt="logo")
            .col-9  
                .inner-menu 
                    ul 
                      li 
                        a(href="/") Trang Chủ
                      li 
                        a(href="/products") Sản phẩm
    
