
mixin filter-status(filterStatus)
    each item in filterStatus
        button(
        class=`btn btn-sm ml-1 btn-outline-success ${item.class}`
        button-status=item.status
        ) #{item.name}