mixin formatDateTime(time)
    span #{moment(time).format(" DD/MM/YYYY  HH:MM:SS")}

mixin formatDate(time)
    span #{moment(time).format(" DD/MM/YYYY ")}

mixin formatTime(time)
    span #{moment(time).format("HH:MM:SS")}