mixin select-tree(items, level = 1)
  each item in items
    - const prefix = Array(level + 1).join("-- ")
    option(value=item.id) #{prefix}#{item.title}
      if item.children && item.children.length > 0
        +select-tree(item.children, level + 1)