extends ../../Layout/default.pug 
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug
block main
  .container.my-3
    .row
      .col-12
        .box-head
          +box-head(pageTitle)
    +product-grid(products)
      

            