.sider
  .inner-menu
    ul 
      li
        a(href=`/${prefixAdmin}/dashboard`) Tổng quan
      li
        a(href=`/${prefixAdmin}/category`) Danh mục sản phẩm
      li
        a(href=`/${prefixAdmin}/products`) Sản phẩm